body {
    background-color: #eeeeff;
}

.backgroundWhite {
    background-color: #f7f7f7;
}

.btn-orange, .btn-orange:visited {
    background-color: #ff8300 !important;
}

.btn-orange:hover, .btn-orange:active{
	background-color: #e87700 !important;
}

.border-4 {
    border-width:4px !important;
}

.border-orange {
	border-color: #ff8300 !important;
}

.ScrollyBar {
  height:400px;
  overflow-y: scroll;
}

.resizeHorizontal {
	resize: horizontal !important;
	overflow: auto;
}

#map_wrapper {
    height: 430px;
}

#map_canvas {
    width: 100%;
    height: 100%;
}

.split {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;overflow-y: auto;overflow-x: hidden;}
.gutter {background-color: transparent;background-repeat: no-repeat;background-position: 50%;}
.gutter.gutter-horizontal {cursor: col-resize;background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg=='); }
.gutter.gutter-vertical {cursor: row-resize;background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII='); }
.split.split-horizontal, .gutter.gutter-horizontal { height: 100%;float: left;}